.jumbotron {
  margin: 2rem 1rem;
  background-color: azure;
}

.card1 {
  height: 400px;
  width: 200px;
}

.card2 {
  height: 400px;
  width: 200px;
  margin-left: 20px;
}

.card3 {
  height: 400px;
  width: 200px;
}
