body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: azure;
}

.Search {
  padding: 2rem, 1rem;
}

h1 {
  color: #333;
  margin-top: 200px;
}

input {
  padding: 5px;
  margin: 10px;
  margin-bottom: 100px;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: royalblue;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#results {
  margin-top: 20px;
  text-align: left;
}
